<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318727211941-snc5cbctb61t9m9smk7gf9sd7ksj84p0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318727211941-snc5cbctb61t9m9smk7gf9sd7ksj84p0</string>
	<key>API_KEY</key>
	<string>AIzaSyBFbvy7U0uA38E8soQquaTWpF5PFP_QeHk</string>
	<key>GCM_SENDER_ID</key>
	<string>318727211941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abc.medicalChainMobileUi</string>
	<key>PROJECT_ID</key>
	<string>medical-chain-fe54f</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-chain-fe54f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318727211941:ios:e21f654b87fc00d194f64c</string>
</dict>
</plist>